@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  background-color: black; /* Ensure the whole page is black */
  min-height: 100vh; /* Make sure it covers the whole viewport */
  width: 100vw; /* Ensure it spans the full width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
#root {
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* Code styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
