@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Ensure full viewport coverage */
  background-color: black; /* Make sure the whole page is black */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  flex-grow: 1;
}

/* Code styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
